@charset "utf-8";

/* CSS Document */
* {padding: 0;margin: 0;}
body {margin: 0px;padding: 0px;color: #555;font-family:"微软雅黑", Arial, Helvetica, sans-serif;background:#fff;font-size: 12px;}
img {border:0;}
.myclear {height:0px;line-height: 0px;font-size: 0px;clear: both;visibility: hidden;overflow:hidden;padding:0;margin:0;}
div,ul,dl,dd,dt,li,td,tr,table,p,span,h1,h2,h3,h4,h5,h6,form{ margin:0px;  padding:0px; list-style:none; list-style-type: none; word-wrap:break-word;border:none;}
a {color:#555;text-decoration: none;cursor:pointer;}
/*a:hover {}*/
textarea { resize:none;}
select{font-family: "微软雅黑";}

.mymember_out {
	position:relative;
	background:#f5f5f5;
	width:100%;
	padding-bottom:20px;
	min-width:1200px;}
.mymember_main {
	width:1200px;
	position:relative;
	margin:0 auto;}
.mymember_head {
	z-index:2;
	position:relative;
	width:100%;
	height:75px;
	background:#e7e7e7;}
.mymember_head h2 {
	position:relative;
	float:left;
	width:180px;
	text-align:center;
	border-right:1px solid #c9c9c9;
	}
.mymember_head h2 a {
	line-height:75px;
	font-size:24px;
	color:#000;
	font-weight:400;}
.mymember_head_part {
	position:relative;
	float:left;
	display:inline-block;
	padding:0 15px;
	border-right:1px solid #c9c9c9;    max-width: 100px;
    height: 75px;
    }
.mymember_head_part a.a001 {
	line-height:75px;
	font-size:16px;
	color:#ff5b7d;}
.mymember_head_part a.a002 {
	background:url(../images/mymember/arrow01.jpg) no-repeat right center;
	padding-right:15px;color:#555;}
.mymember_head_part div {
	display:none;
	position:absolute;
	width:100%;
	_width:82px;
	background:#fff;
	box-shadow:0px 2px 2px #ccc;
	left:0;
	top:60px;}
.mymember_head_part div a {
	font-size:14px;
	line-height:35px;
	display:block;
	text-align:center;}
.mymember_head_part a:hover {
	color:#317ef3;}
.mymember_head_kf {
	position:absolute;
	right:2%;
	top:0;
	line-height:75px;
	font-size:16px;
	color:#777;
	padding-left:20px;
	background:url(../images/mymember/ico01.png) no-repeat left center;}
.mymember_head_kf:hover {
	color:#000;}
.mymember_menu {
	position:relative;
	background:#fff;
	width:12%;
	margin-bottom:20px;
	padding:5px 2% 20px;
	float:left;}
.mymember_menu_tit {
	position:relative;
	width:100%;
	display:block;
	text-indent:25px;
	border-bottom:1px solid #ddd;
	font-size:16px;
	line-height:35px;
	margin-top:20px;
	color:#000;}
.mymember_menu_tit img {
	position:absolute;
	left:0;
	*left:2%;
	top:10px;}
.mymember_menu_tit:hover {color:#317ef3;}
.mymember_menu_part div a {
	display:block;
	line-height:20px;
	padding-top:10px;
	font-size:12px;
	color:#555;}
.mymember_menu_part div a:hover {
	-webkit-transition: all 0.2s ease-in-out 0.01s;
    -moz-transition: all 0.2s ease-in-out 0.01s;
    -o-transition: all 0.2s ease-in-out 0.01s;
    -ms-transition: all 0.2s ease-in-out 0.01s;
    transition: all 0.2s ease-in-out 0.01s;
	color:#317ef3;
	text-indent:1em;}
.mymember_hot {
	position:relative;
	width:22%;
	float:right;}
.mymember_hot_part {
	position:relative;
	width:86%;
	padding:20px 7%;
	margin-bottom:20px;
	background:#fff;}
.mymember_hot_part h3 {
	font-size:16px;
	font-weight:400;
	color:#000;
	line-height:20px;
	margin-bottom:15px;
	}
.mymember_hot_part h4 a{
	display:inline-block;
	line-height:35px;
	font-size:14px;
	color:#fff;
	font-weight:400;
	padding:0 13px;
	border-radius:5px;
	margin-right:20px;
	background:#ff8800;}
.mymember_hot_part h4 a.mysel { background:#e83428;}
.mymember_hot_list {
	display:block;
	width:66%;
	padding-left:34%;
	height:75px;
	background:#fff;
	position:relative;
	margin-top:10px;}
.mymember_hot_list img {
	position:absolute;
	left:0;
	top:0;
	max-width:75px;
	max-height:75px;
	_width:75px;
	_height:75px;}
.mymember_hot_list p {
	line-height:20px;
	height:40px;
	overflow:hidden;
	color:#555;
	padding-top:5px;
	margin-bottom:5px;}
.mymember_hot_list b {
	font-size:14px;
	color:#ff8800;}
.mymember_hot_list:hover p{color:#ff8800;}
.mymember_hot_story {
	position:relative;
	float:left;
	margin-right:5px;
	display:block;
	_display:inline;
	width:65px;
	height:90px;}
.mymember_hot_story img {width:65px;}
.mymember_hot_story p {font-size:12px;color:#555;}
.mymember_center {
	float:left;
	width:58%;
	margin-left:2%;
	position:relative;}
.mymember_info {
	position:relative;
	width:94%;
	padding:20px 3%;
	background:#fff;
	margin-bottom:20px;}
.mymember_center.add_width{width: 82%;}


.mymember_info .btn-list input{border:none;background:#f60;color:#fff;padding:5px;margin-bottom:5px;cursor: pointer;}

.mymember_info01 table{width:100%;}
.mymember_header {
	display:block;
	position:relative;
	width:120px;
	height:120px;
	overflow:hidden;
	border-radius:50%;}
.mymember_header.p_left{left:86px;}
/**
.mymember_fen {border-left:1px solid #eee;padding-left:30px;}
.mymember_fen a {
	display:block;
	width:90px;
	text-align:center;}
.mymember_fen a p {
	margin-top:5px;
	color:#555;
	font-weight:400;
	font-size:14px;}
.mymember_fen a p span {color:#ff8800;}
*/
.mymember_fen {
    
    width: 120px;
    text-align: center;
}
.mymember_fen a {
    border-left: 1px solid #eee;
    display:block;
    text-align:center;margin: 0 auto;}
.mymember_fen a p {
    margin-top:5px;
    color:#555;
    font-weight:400;
    font-size:14px;}
.mymember_fen a p span {color:#ff8800;}
.mymember_info01 td {width:140px;}
/*.mymember_info01.no_width td{width:0;}*/
.mymember_info01 td a {
	display:block;
	position:relative;
	width:65%;
	font-size:14px;
	line-height:20px;
	color:#333;
	padding-left:35%;}
.mymember_info01 td a img {
	position:absolute;
	right:70%;
	top:-10px;}
.mymember_info01 td a span {color:#ff8800;}
.mymember_info01 td a:hover {color:#ff8800;}
.mymember_info01 td a.btn{display:block;width: 78px;height: 22px;background: #f5f5f5;border:1px solid #c0bfbf;text-align: center;line-height: 22px;color:#565457;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-o-border-radius: 3px;-ms-border-radius: 3px;padding: 0;}
.mymember_info01 td a.btn:hover,.mymember_info01 td a.btn.sel{background: #ff5b7d;border-color:#ff5b7d;color:#fff;}


.mymember_info02 h3 {
	position:relative;
	width:100%;
	line-height:20px;
	font-weight:400;
	color:#333;
	font-size:16px;
	margin-bottom:10px;}
.mymember_info02 h3 a {
	position:absolute;
	right:0;
	top:0;
	font-size:12px;}
.mymember_info02 h3 a.a001 {
	display:inline-block;
	padding:0 10px;
	background:#f5f5f5;
	position:relative;
	margin-left:5px;}
.mymember_info02 table {border-collapse:collapse;width:100%;}
.mymember_info02 th {
	background:#f5f5f5;
	line-height:35px;
	font-weight:400;
	text-align:left;
	padding:0 5px;
	color:#333;
	font-size:12px;}
.mymember_infotab_tit01 th { background:#e7e7e7;text-align:center;}
.mymember_infotab_tit02 th { background:#fffdef;}
.mymember_info02 th a {color:#0060aa;}
.mymember_info02 td {border:1px solid #eee;padding:5px 5px; text-align:center; font-size:12px; position:relative;vertical-align: middle;}
.mymember_info02 td.td001 {border-right:none; text-align:left;}
.mymember_info02 td.td001 a {
	display: inline-block;
	width:50px;
	height:50px;
	margin:0 3px;
	border:1px solid #eee;
	overflow:hidden;}
.mymember_info02 td.td001 a img {width:50px;height:50px;}
.mymember_info02 td.td002 {border-left:none; text-align:left;}
.mymember_info02 td.td003 p,.mymember_info02 td.td003 a{color:#989898;}
.mymember_info02 td.td003 a:hover{color:#ff8800;}
.mymember_info02 td h4 {color:#ff1000;}
.mymember_info02 td span,.mymember_info02 td p,.mymember_info02 td p a{position:static;}

/*.mymember_info02 td{display: block;}
*/
.mymember_info02 td a.pic{display: block;}
.mymember_info02 td a.pic strong{display: block;position: absolute;left:28px;top:0;}
.mymember_info02 td a.pic p{min-height: 60px;}



.mymember_info02 .car_list td{border:none;border-bottom: 1px solid #eee;}


.mymember_infotab_show { background:url(../images/mymember/arrow05.gif) no-repeat right center;display:inline-block; padding-right:15px;}
.mymember_info_show {
	display:none;
	position:absolute;
	z-index:50;
	right:78px;
	top:10px;
	background:#fff;
	border:1px solid #ddd;
	width:420px;
	padding:15px;
	text-align:left;}
.mymember_info_show i {
	position:absolute;
	right:-10px;
	top:24px;}
.mymember_info_show a {
	position:absolute;
	top:10px;
	right:10px;
	z-index: 2;
}
.mymember_info_show h5 {
	width:100%;
	border-bottom:1px solid #ddd;
	line-height:30px;}
.mymember_info_show span {
	display:inline-block;
	width:140px;}
.mymember_info_show p {line-height:20px; padding-top:5px;}
.mymember_info02 a:hover {color:#ff8800;}
.mymember_botad { margin:0 12px;}
#mymember_right_check {
	position:relative;
	display:block;
	width:100%;
	height:340px;
	overflow:hidden;}
#mymember_right_check li {display:none;position:absolute;left:0;top:0;width:100%;}
#mymember_storybox {width:100%;position:relative;height:90px;}
#mymember_story_next {position:absolute;right:-5px;top:20px;}
.mymember_gzlist {
	position:relative;
	display:block;
	_display:inline;
	float:left;
	margin-right:25px;
	width:180px;}
.mymember_gzlist img {
	width:180px;
	height:180px;}
.mymember_gzlist:hover { opacity:0.7;}
.mymember_gzlist p {line-height:20px;color:#555;    height: 40px;
    overflow: hidden;}
.mymember_gzlist h6 {color:#ff8800; text-align:center;}
#mymember_gzbox {width:100%;position:relative;height:241px; padding-top:5px;}
#mymember_gznext {position:absolute;right:0px;top:100px;}
.mymember_shine {
	position:relative;
	display:block;
	_display:inline;
	float:left;
	margin-right:23px;
	width:180px;
	border:1px solid #eee;
	background:#f5f5f5;}
.mymember_shine a.a001 {
	display:block;
	width:100%;
	color:#555;
	background:#fff;
	line-height:20px;
	padding-bottom:5px;}
.mymember_shine a.a001 img {width:180px;height:180px; margin-bottom:5px;}
.mymember_shine a.a001 span {
	display:block;
	width:90%;
	margin:0 auto;
	font-size:14px;}
.mymember_shine a.a001:hover {opacity:0.7;}
.mymember_shine p {
	width:90%;
	padding:5px 5% 30px;}
.mymember_shine p span {
	display:block;}
.mymember_shine p a {
	position:absolute;
	right:5%;
	bottom:5px;
	display:inline-block;
	border:1px solid #ddd;
	padding:0 10px;}
#mymember_shinebox {width:100%;position:relative;height:310px; padding-top:5px;}
#mymember_shinenext {position:absolute;right:0px;top:100px;}
.mymember_mainbox {
	float:right;
	width:82%;
	position:relative;}


.buy_record{padding-bottom: 10px;}
.buy_record a{padding:0 4px;}
.buy_record a.sel{color:#0095c5;}
.record_tab{}
.record_tab th{text-align: center;font-weight: bold;}
.record_tab td{border:none;border-bottom:1px solid #e7e7e7;height:40px;line-height: 40px;}











	
/* 其他页面 */
.mymember_info03 h3{
	position:relative;
	width:100%;
	color:#333;
	font-weight:400;
	font-size:18px;
	line-height:25px;
	margin-bottom:10px;
	}
.mymember_info03 h3 a.a001 {
	position:absolute;
	right:105px;
	top:0;
	font-size:12px;}
.mymember_info03 h3 a.a001:hover {color:#ff8800;}
.mymember_info03 h3 a.a002 {
	position: absolute;
	right: 0;
	top: 0;
	color: #fff;
	display: inline-block;
	padding: 0 10px;
	border-radius: 3px;
	background: #ff1000;
	font-size: 12px;
	background-color: #39bee9;
}
.mymember_info03 h3 a.a002:hover { background:#ff8800;}
.mymember_info03 p {
	font-size:14px;
	color:#999;
	line-height:25px;}
.mymember_info03 p a {color:#999;}
.mymember_info03 p a:hover {color:#ff8800;}
.mymember_info03 p a.a001 {color:#0060aa;}
.mymember_info03 p a.a001:hover {color:#ff8800;}
.mymember_order_search {
	width:100%;
	line-height:30px;
	position:relative;
	margin-bottom:10px;}
.mymember_order_search a.a001 { color:#ff1000; font-size:14px; float:left;}
.mymember_order_search .mytext {
	width:300px;
	border:1px solid #ddd;
	height:28px;
	line-height:28px;
	text-indent:1em;
	background:#fff;
	float:right;margin-left: 5px;}
.mymember_order_search .mysub {
	width:60px;
	cursor:pointer;
	border:1px solid #ddd;
	height:30px;
	background:#fff;
	float:right;
	margin-left:5px;}
.mymember_order_search .mysub:hover {
	background:#eee;}
.mymember_order_search select { float:left; line-height:30px;height:28px;margin-right: 10px;}

.mymember_order_search .myselect {
    width:200px;
    border:1px solid #ddd;
    height:28px;
    line-height:28px;
    text-indent:0.5em;
    background:#fff;
    float:right;margin-left: 5px;
    font-family: "微软雅黑";
}

.mymember_page {
	position:relative;
	width:100%;
	text-align:right;
	padding:10px 0;}
.mymember_page a {
	display:inline-block;
	line-height:25px;
	padding:0 8px;
	font-size:14px;
	border:1px solid #ddd;
	margin-left:5px;}
.mymember_page a:hover {
	color:#fff;
	background:#ff1000;}
.mymember_page a.mysel {
	color:#fff;
	background:#ff1000;}
#mymember_likecheck {
	line-height:20px;
	position:relative;
	font-weight:400;
	width:100%;
	text-align:right;}
#mymember_likecheck span {
	position:absolute;
	left:0;
	top:0;
	font-size:18px;}
#mymember_likecheck a {
	display:inline-block;
	width:14px;
	height:14px;
	margin-left:10px;
	margin-top:2px;
	border-radius:50%;
	background:#ddd;}
#mymember_likecheck a.mysel {background:#ff1000;}
#mymember_likelist {
	margin-top:35px;
	position:relative;
	display:block;
	width:100%;}
#mymember_likelist li {width:100%;}
#mymember_likelist a {
	float:left;
	display:block;
	width:208px;
	_width:205px;
	background:#f4f4f4;
	line-height:20px;
	margin:0 10px;
	border:1px solid #ddd;
	position:relative;}
#mymember_likelist a img { width:100%; margin-bottom:5px;}
#mymember_likelist a p {
	width:90%;
	height:20px;
	overflow:hidden;
	font-size:12px;
	margin:0 auto;}
#mymember_likelist a b{
	width: 90%;
    height: 20px;
    overflow: hidden;
    font-size: 14px;
    margin: 0 auto;
    display: block;
}

#mymember_likelist a p span {
	font-size:18px;}
#mymember_likelist a i {
	color:#ff1000;
	display:block;
	width:90%;
	font-size:12px;
	margin:0 auto;
	font-style: normal;
}
.mymember_evaluate {
	width:100%;
	border-collapse:collapse;}
.mymember_evaluate th {
	font-weight:400;
	line-height:30px;
	border:1px solid #eee;
	background:#f5f5f5;
	text-align:center;
	font-size:12px;
	color:#777;}
.mymember_evaluate td {
	line-height:20px;
	border-bottom:1px solid #eee;
	text-align:center;
	font-size:12px;
	color:#555;
	padding:5px 0;}
.mymember_evaluate td.td001 {border-left:1px solid #eee;}
.mymember_evaluate td a {color:#0060aa;}
.mymember_evaluate td a:hover {color:#ff8800;}
.mymember_evaluate td.td002 {
	padding-right:10px;
	text-align:left;
	border-left:none;}
.mymember_evaluate td.td003 {border-right:1px solid #eee;}
.mymember_evaluate td.td004 { background:#fdfffa;position:relative;border:1px solid #d1e5c2;}
.mymember_eva_div {
	position:relative;
	width:600px;
	text-align:left;
	font-size:12px;
	color:#555;
	min-height:30px;
	line-height:30px;
	padding:5px 0 5px 70px;
	margin:0 auto;}
.mymember_eva_div b {
	font-weight:400;
	width:70px;
	text-align:right;
	position:absolute;
	right:605px;
	top:0;}
.mymember_eva_div b font {color:#ff1000;}
.mymember_eva_div a.a001 {
	float:left;}
.mymember_eva_div a.a002 {
	display:block;
	float:left;
	border:1px solid #eee;
	line-height:75px;
	height:75px;
	width:75px;
	overflow:hidden;
	text-align:center;
	margin-right:10px;
	color:#999;}
.mymember_eva_div textarea {
	width:100%;
	height:100px;
	border:1px solid #eee;}
.mymember_eva_div .mysub {
	width:100px;
	height:30px;
	border:none;
	color:#FFF;
	 font-family:"微软雅黑";
	background:#39bee9;
	cursor:pointer;}
.mymember_eva_div .mysub:hover { background:#ff5b7d;}
.mymember_evabox { display:none;}
.mymember_scan_check {
	position:relative;
	width:100%;
	padding:20px 0;
	}
.mymember_scan_check a {
	display:inline-block;
	margin-right:10px;
	line-height:40px;
	padding:0 30px;
	border-radius:20px;
	color:#777;
	}
.mymember_scan_check a.mysel {background:#39bee9;color:#fff;}
.mymember_scan {
	position:relative;
	width:94%;
	margin-left:4%;
	border-left:2px solid #ddd;}
#scan_line {
	position:absolute;
	left:-2px;
	top:0;
	height:200px;
	display:block;
	width:2px;
	background:#ff1000;}
.mymember_scan h3 {
	position:relative;
	line-height:30px;
	font-weight:400;
	color:#000;
	font-size:18px;
	padding-left:4%;
	margin-bottom:20px;
	width:90%;}
.mymember_scan h3 span,.mymember_scan h3 a {
	font-size:12px;
	color:#999;
	margin-left:10px;}
.mymember_scan h3 i {
	position:absolute;
	left:-10px;
	top:0;
	display:block;
	background:#fff;
	width:16px;
	height:16px;
	border-radius:50%;
	border:2px solid #ff1000;}
.mymember_scanpart {
	float:left;
	margin:0 0 30px 30px;
	_margin:0 0 30px 24px;
	position:relative;
	text-align:center;
	padding:15px;
	width:220px;
	height:250px;
	overflow:hidden;
	background:#fff;
	border:1px solid #fff;}
.mymember_scanpart a.a001 {
	z-index:10;
	position:absolute;
	right:0;
	top:0;}
.mymember_scanpart p {
	color:#555;
	height:20px;
	line-height:20px;
	margin-top:10px;
	font-size:18px;}
.mymember_scanpart:hover {
	border:1px solid #ff8800;}
.mymember_info04 h3 {
	position:relative;
	width:100%;
	line-height:30px;
	font-size:16px;
	font-weight:400;}
.mymember_info04 h3 a {
	display:inline-block;
	padding:0 20px;
	border:1px solid #ddd;
	position:absolute;
	font-size:12px;
	right:0;
	top:0;}
.mymember_info04 h3 a:hover {background:#f1f1f1;color:#333;}
.mymember_info04 dl {
	position:relative;
	display:block;
	width:96%;
	padding:15px 2%;
	margin:15px 0 70px;
	background:#fffdee;
	border:1px solid #edd28b}
.mymember_info04 dt {
	font-size:14px;
	padding-bottom:10px;
	border-bottom:1px solid #eee;
	margin-bottom:10px;
	color:#333;}
.mymember_info04 dt span { color:#ff1000;}
.mymember_green {
	width:450px;
	_width:460px;
	position:relative;
	margin:0 auto;}
.mymember_green p {
	float:left;
	margin:0 20px;
	font-size:12px;
	position:relative;
	width:70px;
	color:#999;
	text-align:center;}
.mymember_green p.mysel { color:#000;}
.mymember_green p i {
	display:block;
	position:absolute;
	top:-40px;
	left:22px;
	z-index:10;
	border-radius:50%;
	border:4px solid #ddd;
	height:20px;
	background:#fff;
	width:20px;}
.mymember_green p.mysel i {border:4px solid #39bee9;}
.mymember_green p b {
	display:block;
	position:absolute;
	top:-30px;
	left:-70px;
	width:95px;
	height:8px;
	background:#ddd;}
.mymember_green p.mysel b {background:#39bee9;}
.mymember_info04 table{
	margin-top:15px;
	width:100%;
	border-collapse:collapse;}
.mymember_info04 th {
	border:1px solid #eee;
	background:#f5f5f5;
	line-height:30px;
	text-align:center;
	font-weight:400;
	color:#999;
	font-size:12px;}
.mymember_info04 td {
	border:1px solid #eee;
	line-height:20px;
	padding:10px 0;
	text-align:center;
	color:#555;
	font-size:12px;}
.mymember_sq_tab th {
	background:none;
	line-height:20px;
	padding:10px 0;
	}
.mymember_sq_tab td {
	text-align:left;
	padding:10px;}
#mymember_ordersum01 { display:none;}
#mymember_ordersum02 { display:none;}
.center_tab th{ text-align:center;}
.center_tab td a{ color:#0060aa;}
.mymember_address {
	border-collapse:collapse;
	width:100%;}
.mymember_address th {
	text-align:right;
	padding:0 10px 0 0;
	background:none;
	width:120px;
	vertical-align:middle;
	border:none;}
.mymember_address td {
	text-align:left;
	padding:10px 0;
	background:none;
	border:none;}

.mymember_address input.mytext {
	width:50%;
	border:1px solid #ddd;
	height:28px;
	line-height:28px;
	text-indent:1em;
	}
.mymember_address input.mysub {
	width:180px;
	height:35px;
	border:none;
	cursor:pointer;
	color:#fff;
	font-family:"微软雅黑";
	font-size:16px;
	border-radius:3px;
	background:#ff5b7d;}
.mymember_address input.mysub:hover {
	background:#39bee9;}




/* ----------------------add-----------------------------------*/

.mymember_fen.add_width a{width: 150px;}

.mymember_hot .market_info{background: #fff;padding: 20px;min-height: 250px;}
.mymember_hot .market_info .tit{font-size: 16px;padding-bottom: 4px;border-bottom: 1px solid #e7e7e7;}
.mymember_hot .market_info li{padding: 2px 0}

.mymember_hot .market_info .quit_btn{display: block;width: 100px;height: 30px;background: #16bddf;color:#fff;text-align: center;line-height: 30px;padding: 0;border-radius: 3px;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;margin: 20px auto;}
.mymember_hot .market_info .quit_btn:hover{color:#fff;background: #ff5b7d;}




.s_d_table{}
.s_d_table th{font-weight: 400;padding-bottom: 30px;text-align: right;vertical-align: top;line-height: 30px;}
.s_d_table td{padding-bottom: 30px;}
.s_d_table td .text.big{width: 298px;height: 28px;border: 1px solid #c0bfbf;text-indent: 4px;}
.s_d_table td select{width: 178px;height: 28px;border: 1px solid #c0bfbf;font-family: "微软雅黑";}
.s_d_table td .text.lit{width: 118px;height: 28px;border: 1px solid #c0bfbf;text-indent: 4px;}
.s_d_table td .sub{width: 180px;
    height: 35px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 16px;
    border-radius: 3px;
    background: #ff5b7d;}
.s_d_table td .sub:hover{background: #39bee9;}
.s_d_table td span{padding-right: 50px;}
.s_d_table td span.b_color{color:#39bee9;padding-left: 20px;}
.s_d_table td textarea{width: 330px;height: 110px;border:1px solid #c0bfbf;padding: 4px;}

.s_d_success .p1{height: 41px;background: url(../images/icon_bg.jpg) no-repeat center;}
.s_d_success .p2{color:#333333;font-size: 16px;text-align: center;padding:40px 0 30px 0;}
.s_d_success .p3{text-align: center;}
.s_d_success .p3 a{font-size: 14px;color:#39bee9;}
.s_d_success .p3 a:hover{text-decoration: underline;}
.s_d_success .p4{height: 41px;background: url(../images/icon_bg.jpg) no-repeat left center;line-height: 41px;padding-left: 50px;font-size: 18px;width: 392px;margin: 0 auto;}
.s_d_success .p5{padding-top: 20px;width: 340px;margin: 0 auto;}
.s_d_success .finish{width: 180px;
	margin-top: 40px;
	    margin-left: 290px;
	display: block;
	text-align: center;
	line-height: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 16px;
    border-radius: 3px;
    background: #ff5b7d;}
.s_d_success .finish:hover{background: #39bee9;}

.pt_serve_list{}
.pt_serve_list a{display: block;padding-bottom: 2px;border-bottom:1px dashed #c0bfbf;line-height: 30px;}


.member_recharge{padding:40px 0 0 100px;background: #fff;}
.member_recharge .p1{font-size: 18px;color:#333333;padding-bottom: 14px;}
.member_recharge .p2{font-size: 14px;color:#333333;padding-bottom: 12px;}
.member_recharge .p2 .text{width: 118px;height: 28px;border:1px solid #c0bfbf;    text-indent: 10px;}
.member_recharge .p3{font-size: 12px;color:#c0bfbf;    width: 600px;}

.member_recharge li{float: left;display: block;margin-right: 24px;margin-bottom: 10px;}
.member_recharge li input{position: relative;top:-12px;}

.member_recharge .recharge_btn{display: block;width: 200px;height: 42px;background: #ff5b7d;text-align: center;line-height: 42px;color:#fff;font-size: 16px;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;-ms-border-radius: 5px;margin: 10px 0 20px 0}

.member_recharge .prompt{width: 600px;height: 140px;background: #eeeeee;border: 1px solid #c0bfbf;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;-ms-border-radius: 5px;color:#333;line-height: 24px;padding: 10px 0 0 10px;margin-top: 20px;}

.member_recharge .prompt h3{font-size: 14px;}


.recharge_success{background:url(../images/ture.png) no-repeat 350px 43px #fff;padding: 50px 0 40px 0;}
.recharge_success .p1{font-size: 18px;color:#e8323d;padding-left: 390px;padding-bottom: 20px;}
.recharge_success .p2{font-size: 14px;color:#333333;padding-left: 390px;padding-bottom: 6px;}
.recharge_success a{font-size: 14px;color:#39bee9;padding-left: 390px;}
.recharge_success a:hover{text-decoration: underline;}

.recharge_false{background:url(../images/false.png) no-repeat 350px 43px #fff;padding: 50px 0 40px 0;}
.recharge_false .p1{font-size: 18px;color:#e8323d;padding-left: 390px;padding-bottom: 20px;}
.recharge_false .p2{font-size: 14px;color:#333333;padding-left: 390px;padding-bottom: 6px;}
.recharge_false a{font-size: 14px;color:#39bee9;padding-left: 390px;}
.recharge_false a:hover{text-decoration: underline;}

.with_money{background: #fff;color:#333;padding: 40px 0 0 100px;}
.with_money .tit{font-size: 18px;padding-bottom: 20px;}

.with_money th{font-weight: 400;text-align: right;padding-bottom: 20px;}
.with_money td{padding-bottom: 20px;}
.with_money td .text{height: 28px;border:1px solid #c0bfbf;text-indent: 4px;}
.with_money td .text.long{width: 238px;}
.with_money td .text.short{width: 118px;}

.with_money td .sub{width: 120px;height: 30px;background: #ff5b7d;color:#fff;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;-ms-border-radius: 5px;text-align: center;line-height: 20px;}



.banner_manage{}
.banner_manage .menu{overflow: hidden;}
.banner_manage .menu a{display: block;float:left;width: 36px;height: 30px;padding-left: 30px;color:#fff;line-height: 30px;margin-right: 12px;}
.banner_manage .menu a.a1{background: url(../images/menu01.png) 6px center #ff5b7d no-repeat;}

.banner_manage .menu a.a2{background: url(../images/menu02.png) 6px center #39bee9 no-repeat;}
.banner_manage .menu a.a3{background: url(../images/menu03.png) 6px center #39bee9 no-repeat;}
.banner_manage .menu a.a4{background: url(../images/menu04.png) 6px center #39bee9 no-repeat;/*background-size:30px;*/}

.banner_manage table{border:1px solid #e1e2e1;border-bottom: none;}
.banner_manage th{height: 35px;background: #f3f3f3;line-height: 35px;color:#000;font-weight: 400;text-align: center;}
.banner_manage td{border:none; border-bottom:1px solid #e1e2e1;}


.edit_banner th{color:#000;font-weight: 400;background: none;width: 60px;padding: 0;padding-right: 15px;text-align: right;padding-bottom: 20px;vertical-align: top;}
.edit_banner td{border:none;text-align: left;padding: 0;padding-bottom: 20px;}

.edit_banner td select{height: 32px;border:1px solid #e1e2e1;}

.edit_banner td a.a1{width: 58px;height: 28px;background: #f3f3f3;border:1px solid #e1e2e1;float:left;text-align: center;line-height: 28px;color:#000;}
.edit_banner td a.a1.sel{background: #39bee9;color:#fff;border-color:#39bee9;}

.edit_banner td .text{width: 298px;height: 28px;border:1px solid #e1e2e1;text-indent: 4px;}

.edit_banner td a.a2{display: block;width: 100px;height: 30px;text-align: center;line-height: 30px;color:#fff;background: #ff5b7d;font-size: 14px;}

.edit_banner td .pic_box{width: 290px;height: 90px;border:1px solid #e1e2e1;padding: 4px;overflow: hidden;}
.edit_banner td .pic_box img{width: 290px;height: 90px;}

.edit_banner td .sub{width: 200px;height: 35px;line-height: 35px;background: #39bee9;text-align: center;color:#fff;font-size: 14px;}




/*10.17*/
.transfer_money{}
.transfer_money .tit{ display: block; height: 33px; background-color: #eee; line-height: 33px; margin-bottom: 40px;}
.transfer_money .tit span{ position: relative; display: block; float: left; width: 33.333%; text-align: center; font-size: 14px; color: #999}
.transfer_money .tit span img{ position: absolute; z-index: 2; right: -10px; top: 0;}
.transfer_money .tit span.isok{ background-color: #ff5b7d; color: #fff;}


.transfer_con{padding-left: 100px;}
.transfer_con .top{font-size:18px;color:#333333;}
.transfer_con .part{overflow: hidden;margin-top: 16px;}
.transfer_con .part dt{float:left;height: 30px;line-height: 30px;font-size: 14px;color:#333333;width: 80px;}
.transfer_con .part dd{float:left;}
.transfer_con .part dd .text{width: 198px;height: 28px;line-height: 28px;border:1px solid #c0bfbf;text-indent: 8px;}
.transfer_con .part dd label{display: block;margin-top: 6px;}
.transfer_con .part dd label input{position: relative;top:2px;}
.transfer_con .part dd .btn{display: block;width: 200px;height: 42px;background: #ff5b7d;text-align: center;line-height: 42px;color:#fff;font-size: 18px;border-radius: 4px;-webkit-border-radius: 4px;}

.transfer_con .prompt{width: 580px;height: 130px;background: #eeeeee;border:1px solid #c0bfbf;margin-top: 40px;border-radius: 4px;-webkit-border-radius: 4px;padding:10px;line-height: 24px;color:#333333;}
.transfer_con .prompt .top{font-size: 14px;color:#333333;}

.transfer_con .box{margin-top: 24px;} 
.transfer_con .box .text{width: 398px;height: 38px;border:1px solid #c0bfbf;}
.transfer_con .box span{line-height: 40px;padding-left: 10px;font-size: 14px;color:#ff5b7d;}
.transfer_con .confirm{display: block;width: 200px;height: 42px;text-align: center;line-height: 42px;color:#fff;font-size: 18px;background: #ff5b7d;margin-top: 20px;border-radius: 4px;-webkit-border-radius: 4px;}
.transfer_con .confirm:hover{color:#fff;}


.transfer_success{padding-left: 350px;background: url(../images/ture.png) no-repeat 310px top;padding-top: 8px;}
.transfer_success .p1{font-size: 18px;color:#e8323d;margin-bottom:14px;}
.transfer_success .p2{color:#333333;margin-bottom: 6px;}
.transfer_success a{color:#39bee9;}



.integral_show{overflow: hidden;margin-bottom: 18px;}
.integral_show .fl{width: 300px;height: 170px;background: #fff;}
.integral_show .fl p{padding-left: 30px;line-height: 44px;}
.integral_show .fl p.p1{font-size: 18px;color:#333333;margin-top: 16px;}
.integral_show .fl p.p2{font-weight: bold;color:#fe5f73;font-size: 40px;}

.integral_show .fr{width: 664px;height: 170px;background: #fff;}
.integral_show .fr .con{padding:20px 0 0 30px;}
.integral_show .fr .con .p1{font-size: 18px;color:#fe5f73;margin-bottom: 20px;}
/*.integral_show .fr .con .oh{height: 42px;}*/
.integral_show .fr .con .oh .text{float: left;width: 224px;height: 40px;background: #eeeeee;border:1px solid #ececec;display: block;line-height: 40px;text-indent: 10px;}
.integral_show .fr .con .oh a{display: block;float:left;margin-left: 40px;display: block; width: 134px; height: 42px; text-align: center; line-height: 42px; color: #fff; font-size: 18px; background: #ff5b7d; border-radius: 4px; -webkit-border-radius: 4px;}
.integral_show .fr .con .p2{font-size: 12px;color:#999999;margin-top:8px;}





/*add 11.17*/
.with_history{background: #fff;margin-top: 16px;padding-left: 100px;}
.with_history .tit{font-size: 18px;color:#333;height:60px;line-height:60px;}
.with_history ul{overflow:hidden;}
.with_history ul li{display: block;float:left;width: 238px;height: 118px;border:1px solid #dddddd;margin-right: 14px;margin-bottom: 18px;}
.with_history ul li .con{padding:10px 16px 0 16px;line-height: 24px;}
.with_history ul li .num{font-size: 18px;color:#333;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;margin-bottom: 4px;}
.with_history ul li .txt{font-size: 12px;color:#999;}
.with_history ul li menu{overflow: hidden;background: #dddddd;width: 100%;position: absolute;left:0;bottom:0;}
.with_history ul li menu a{display: block;float:left;width: 50%;height: 30px;line-height: 30px;text-align: center;font-size: 14px;color:#333333;}
.with_history ul li menu a:hover{background: #ff5b7d;color:#fff;}




















